* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatContainer {
  height: 45%;
  width: 35%;
  border: 1px solid black;
  flex-direction: column;
  display: none;
}

.screenContainer {
  height: 70%;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;
}

.screenContainer::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.inputContainer {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.questionsContainer {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.singleQuestion {
  width: 35%;
  height: 50%;
  background-color: #4095c6;
  color: white;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.singleQuestion:hover {
  background-color: #4095c6;
}

input {
  height: 100%;
  width: 60%;
  border: none;
  padding: 5px;
}

.active {
  display: flex;
}

.question {
  align-self: flex-end;
  text-align: right;
  background-color: #5b5e6c;
  color: white;
  height: 50px;
  width: 80%;
  margin-bottom: 5px;
  flex-shrink: 0;
  border-radius: 10px 0px 0px 10px;
  font-family: sans-serif;
  padding: 10px;
}

.answer {
  align-self: flex-start;
  height: 50px;
  width: 80%;
  background-color: #4eb5f1;
  margin-bottom: 5px;
  flex-shrink: 0;
  border-radius: 0 10px 10px 0px;
  color: white;
  font-family: sans-serif;
  padding: 10px;
}
.activateButton {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border: none;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}

.activateButton:hover {
  background-color: #4095c6;
}

.remove {
  display: none;
}

.submitButton {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
  height: 100%;
  width: 14%;
}

.clearButton {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
  height: 100%;
  width: 14%;
}

.clearButton:hover {
  background-color: #4095c6;
}
.submitButton:hover {
  background-color: #4095c6;
}
